<!DOCTYPE html>
<html>
  <head>
    <title>mooboo</title>
    <meta property='og:title' content='mooboo'>
    <meta property='og:image' content="<%= image_url('mooboo.png') %>">
    <meta property='og:description' 
      content="mooboo is a full stack clone of the popular social media site Pinterest. It is built with Ruby-On-Rails and React-Redux"
    >
    <meta property="og:url"
      content="http://mooboo.io/#/"
    >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.moobooLarge = "<%= image_url('moobooLarge.png') %>"
      window.pinterest = "<%= image_url('pinterest.png') %>"
      window.react = "<%= image_url('react-logo.png') %>"
      window.ruby_on_rails = "<%= image_url('ruby-on-rails.png') %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('moobooSmall.png') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
