<!DOCTYPE html>
<html>
  <head>
    <title>Mooboo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.moobooLarge = "<%= image_url('moobooLarge.png') %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('moobooSmall.png') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
